body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 10px;
    font-size: 4vw;
}

#gameContainer {
    border: 2px solid #000;
    background-color: #fff;
    width: 60%;
}

#gameCanvas {
    background-color: #f2f2f2;
    width: 100%;
    max-width: 400px;
    height: 100%;
}

#score {
    margin-top: 15px;
    font-size: 4vw;
}

#collectedLettersContainer {
    margin-top: 20px;
    font-size: 4vw;
}

#collectedLetters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}

#collectedLetters div {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 3vw;
}

#controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#controls button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 20px;
    margin: 5px;
    font-size: 4vw;
    border-radius: 50%;
    cursor: pointer;
}

#controls button:active {
    background-color: #45a049;
}

#controls div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
}

#controls #leftBtn, #controls #rightBtn {
    padding: 20px;
}

#winImage {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    border: 2px solid #000;
    border-radius: 10px;
}